<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-abc" >
	<tr>
		<td>
			<f:translate key="tx_abc_domain_model_fcontent.title" />
		</td>
		<td>
		{fcontent.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abc_domain_model_fcontent.subtitle" />
		</td>
		<td>
		{fcontent.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abc_domain_model_fcontent.priority" />
		</td>
		<td>
		{fcontent.priority}
		</td>
	</tr>
</table>
</html>