<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-fx82" >
	<tr>
		<td>
			<f:translate key="tx_fx82_domain_model_team.name" />
		</td>
		<td>
		{team.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fx82_domain_model_team.age" />
		</td>
		<td>
		{team.age}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fx82_domain_model_team.phone_no" />
		</td>
		<td>
		{team.phoneNo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fx82_domain_model_team.address" />
		</td>
		<td>
		{team.address}
		</td>
	</tr>
</table>
</html>